.blog-container {
    margin: 40px;
  }
  
  h2 {
    text-align: center;
    font-size: 36px;
    color: #333;
  }
  
  .blog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .blog-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 30%;
    overflow: hidden;
  }
  
  .blog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .blog-card-content {
    padding: 20px;
  }
  
  .blog-card h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .blog-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .read-more {
    font-size: 16px;
    color: #d4a022; /* Gold color */
    text-decoration: none;
    font-weight: bold;
  }
  
  .read-more:hover {
    text-decoration: underline;
  }
  
  .blog-date {
    font-size: 14px;
    color: #aaa;
    text-align: right;
  }
  